.remark-highlight {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.remark-highlight .contained {
  width: calc($size__site-main - 4rem);
  margin: 0.5em auto;
}

/*** HIGHLIGHT ***/
.line-numbers span.line-numbers-rows > span {
  position: relative;
}

.line-numbers span.line-numbers-rows > span::after {
  content: ' ';
  background: var(--highlight-background);
  width: var(--highlight-width);
  position: absolute;
  top: -2px;
}

/*** HIDE NUMBERS **/
.line-numbers.hide-numbers {
  padding: 1em !important;
}

.hide-numbers .line-numbers-rows {
  width: 0;
}

.hide-numbers .line-numbers-rows > span::before {
  content: ' ';
}

.hide-numbers .line-numbers-rows > span {
  padding-left: 2.8em;
}

pre[class*='language-'].line-numbers > code {
  display: inline-block;
  border-right: 1em rgba(0, 0, 0, 0) solid;
}
