/*
Typography
*/

@font-face {
  font-family: Mallory;
  src: url('/../fonts/mallory_book-webfont.woff2') format('woff2'),
    url('/../fonts/mallory_book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mallory;
  src: url('/../fonts/mallory_book_italic-webfont.woff2') format('woff2'),
    url('/../fonts/mallory_book_italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Mallory;
  src: url('/../fonts/mallory_bold-webfont.woff2') format('woff2'),
    url('/../fonts/mallory_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mallory;
  src: url('/../fonts/mallory_bold_italic-webfont.woff2') format('woff2'),
    url('/../fonts/mallory_bold_italic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/*
Typography
*/

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__sans;
  font-weight: 400;
  @include font-size(0.9);
  line-height: $font__line-height-body;

  @media screen and (min-width: $query__small) {
    @include font-size(1);
  }
}

@import 'headings';
