/*
Normalize
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  color: $color__text-main;
}

h1 a { 
  text-decoration-thickness: 2px;
  text-underline-offset: 10px; 
  &:hover {
    text-underline-offset: 10px; 
    text-decoration-thickness: 4px;
  }
}

a:active,
a:hover {
  outline: 0;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

* {
  box-sizing: border-box;
}

@import "reusable";