/*
Site - Content - Layout
*/

.site-container {
  padding: 0 2rem;
  max-width: $size__site-main;
  margin: 0 auto;
  .site-main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /*
    justify-content: center;
    align-items: center;
    */
  }
}

.icon-arrow {
  position: relative;
  margin-left: 45px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    left: -45px;
    top: 10px;
    width: 35px;
    height: 25px;
    @include color__text-screen();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-image: url('data:image/svg+xml;utf8,<svg width="49.315025" height="32.375172" viewBox="0 0 13.047934 8.5659309" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-57.877174,-111.10988)"><path style="stroke:%23000000;stroke-width:1;stroke-linecap:round;" d="m 59.119216,115.57979 c 6.496992,-0.95053 10.012207,-0.79292 11.305892,-0.70856" /><path style="fill:none;stroke:%23000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;" d="m 62.371086,111.60988 c -1.582983,0.96463 -2.98405,2.38514 -3.993933,3.70048 1.946524,1.37222 2.995501,2.67134 4.042563,3.86545" /></g></svg>');
  }
  &.align-right {
    margin-left: inherit;
    margin-right: 45px;
    &:before {
      left: inherit;
      right: -45px;
    }
  }
  &.pointing-right:before {
    top: 5px;
    transform: rotate(180deg);
  }
  &.link-alike {
    text-decoration: underline;
    &:hover {
      text-underline-offset: 3px;
      text-decoration-thickness: 3px;
    }
  }
}
